html, body{
   height: 100%;
}
.app-container { /* selecting all elements with class "app-container" */
  background-color: #0d2741; /* makes background a shade of grey */
  font-size: 16px; /* sets font size to 16 pixels */
  color: white; /* sets text color to white */
  padding: 1em; /* adds 1 font-size (i.e. 16px) of space inside the element */
  min-height: 100vh; /* a little complicated! refer to appendix */
 }

 .dropdownContainer{
   width: 40%;
   margin: 2% 5em;
   display: -webkit-flex; /* Safari */     
   display: flex; /* Standard syntax */
 }
  
 .buildControls{
   width: 100%;
   background-color: white;
   display: flex;
   flex-flow: column;
   align-items: center;
   box-shadow: 0 2px 1 px #ccc;
   margin: auto;
   padding: 10px 0;
 }